// Tema Quanta para Sidebar
.layout-menu-quanta {
    --menu-bg: #ea5c9e;
    --root-menuitem-text-color: #ffffff;
    --menuitem-text-color: rgba(255, 255, 255, 0.9);
    --menuitem-hover-bg: rgba(255, 255, 255, 0.12);
    --active-menuitem-text-color: #ffffff;
    --active-menuitem-bg: rgba(255, 255, 255, 0.24);
    --inline-menu-border-color: rgba(255, 255, 255, 0.24);
}
